%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Question Statement
  %tbody
    - @questions.each_with_index do |quest, index|
      %tr
        %td
          = index + 1
          = link_to truncate(quest.statement), path_to_view(quest)
