%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Question Statement
  %tbody
    - @questions.each_with_index do |quest, index|
      %tr
        %td
          = index + 1
          = link_to quest.statement, path_to_view(quest)
          .pull-right
            = link_to 'Remove', question_path(quest), method: :delete, class: 'btn btn-danger' if quest.question_posted?(current_user) 
            = link_to 'Edit', edit_question_path(quest), class: 'btn btn-primary' if quest.question_posted?(current_user) 
