.form-inputs
  = f.input :statement, :required => true, :as => :text, :input_html => { :rows => 10, :style => "width: 600px;",  :class => "form-control"}
  = f.submit 'Add answer', class: 'btn btn-info', :style => "margin-top: 10px;"
