// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
    padding-top: 40px;
    position: relative;
    background: white url("pattern.gif") repeat-x;
}
textarea {
  width:450px;
}

textarea.answer {
  width:600px;
}
.footer {
    padding-bottom: 20px;
    padding-top: 20px;
}

.bar{
  z-index: 10000;
  position: absolute;
  left: 30px;
  top: -10px;
  /**background-image: url("ribbon.svg");**/
  height: 250px;
  width: 100px;
}

.title {
  left: 90px;
  font-size: 25px;
  font-weight: bold;
  top: 7px;
  color: white;
  z-index: 10000;
  position: absolute;
}
.custom{
  color:  #E42217;
  font-size: 65px;
}

.brand{
  margin: 0px !important;
}

.header{
  /*background-color: #292929;*/
  background-color: #428BCA;
  height: 150px;
  margin-top: -40px;
}


#container{
  background-color: white;
  min-height: 888px;
  padding: 28px;
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: -78px;
}

.box {
  height: 225px;
}

