// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
    padding-top: 40px;
    position: relative;
    background-color: #eeeff3;
    /**background: white url("pattern.gif") repeat-x;**/
}
textarea {
  width:450px;
}

textarea.answer {
  width:600px;
}
.footer {
    padding-bottom: 20px;
    padding-top: 20px;
}

.bar{
  z-index: 10000;
  position: absolute;
  left: 30px;
  top: -10px;
  /**background-image: url("ribbon.svg");**/
  height: 250px;
  width: 100px;
}

.title {
  left: 90px;
  font-size: 25px;
  font-weight: bold;
  top: 7px;
  color: white;
  z-index: 10000;
  position: absolute;
}
.custom{
  color:  #E42217;
  font-size: 65px;
}

.brand{
  margin: 0px !important;
}

.header{
  /*background-color: #292929;*/
  background-color: #428BCA;
  height: 250px;
  margin-top: -40px;
}

.logo{
    color: #13253e;
    text-align: center;
    font-family: mensch;
    font-size: 48px;
    line-height: 1.3em;
    word-spacing: -0.1em;
    text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}


#container{
  background-color: white;
  min-height: 888px;
  padding: 28px;
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: -150px;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.main-box{
  position: relative;
}

.answer{
  position: absolute;
  z-index: 1;
  top: -20;
  right:20;
}

.box {
  height: 225px;
  position: relative;
}

.info{
  position: absolute;
  bottom:2;
  right:10;
}
.black{
  background-color: black;  
  text-decoration: blink;
}

.red{
  color: #D9534F;
}

.new{
  font-size:12px;
  font-style:italic;
  float:right;
  margin-right:12px;
}

@keyframes blink {  
  0% { color: red; }
  100% { color: black; }
}

@-webkit-keyframes blink {
  0% { color: #428BCA; }
  100% { color: white; }
}

.blink {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  -ms-animation: blink 1s linear infinite;
  -o-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
} 



/* added for hover on questions box */

.col-lg-4.main-box {
  position: relative;
}

.col-lg-4.main-box .details{
  position: absolute;
  opacity:0;
  top: 60px;;
  left: 0;
  width: 100%;
  height: 73%;
}

.col-lg-4.main-box:hover .details {
  opacity:1 ;
  padding: 10px;
  background: rgba(45, 45, 45, 0.7); 
}

.question-main-div{
    position: absolute;
    top: 60px;;
    left: 0;
    padding: 10px;
}
